body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  align-items: center;
}
canvas {
  margin:auto;
}
#video1 {
  margin-left: 200px;
  margin-top: 100px;

}
#video2 {
  margin-top: 100px;
  margin-left:10px;
}


img{
  width: 50%;
  height: auto;
}
h1{
  margin-right: 200px;
}
iframe {
    border: 1px solid black;
    width: 100%;
    margin-top: 50px;
    scrolling: auto;
}
#mask-image {
  margin-top: 100px;
  margin-left: 200px;
}
