body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  align-items: center;
}
canvas {
  margin:auto;
}
#video1 {
  margin-left: 200px;
  margin-top: 100px;

}

h1{
  margin-right: 200px;
}
#mask-image{
  align-items: center;
  margin-left: 200px;
  margin-top: 100px;
}
